<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-heading">
            {{adRmsg}}
            <h2 class="text-center">Login</h2>
        </div>
        <hr />
        <div class="modal-body">
            <form action="" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" ng-model="t.username" placeholder="User Name" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" ng-model="t.password" class="form-control" placeholder="Password" />

                    </div>

                </div>

                <div class="form-group text-center">
                    <button type="submit" ng-click="loginTeacher(t)" class="btn btn-success ">Login</button>
                    <a href="/register" class="btn btn-link">Register</a>
                </div>

            </form>
        </div>
    </div>
</div>
