 <div class="site-panel"style="margin-top:10px">
    <div class="container">
        <div class="row">
                <div class="col-md-3 well">
                    <div class= "sidebar">
                        <div class="list-group">
  <a href="#" class="list-group-item active">My Dashboard</a>
  <a href="#" class="list-group-item">My Wishlist</a>
  <a href="#" class="list-group-item">My Interests</a>
  <a href="#" class="list-group-item">My Bids</a>
  <a href="#" class="list-group-item">My Liftings</a>
  <a href="#" class="list-group-item">My Documents</a>
  <a href="#" class="list-group-item">Bidding History</a>
  <a href="#" class="list-group-item">My Payments</a>
</div> 
                    </div>
                </div>
                <div class="col-md-9 ">
                    <div class= "content-box well">
                     <legend>My Dashboard </legend>
                     
                     <div class="row">
	    <div class="col-md-3 text-center">
	        <a href="/studentlist">
	        <div class="stats-box border-1 pad-20">
	        <h3>Students</h3>
	       
	        </div>
	        </a>
	    </div>
	    <div class="col-md-3 text-center">
	        <a href="/addstudent">
	        <div class="stats-box border-1 pad-20">
	        <h3>Add Student</h3>
	        
	        </div>
	        </a>
	    </div>
	    <div class="col-md-3 text-center">
	        <a href="#">
	        <div class="stats-box border-1 pad-20">
	        <h3>Enter Marks</h3>
	        
	        </div>
	        </a>
	    </div>
	    <div class="col-md-3 text-center">
	        <a href="#">
	        <div class="stats-box border-1 pad-20">
	        <h3>Performance</h3>
	        
	        </div>
	        </a>
	    </div>
	 
	</div>
                    
                    
          
                    </div>
    </div>
        </div>
    </div>
 </div>